#sidebar_wrapper {
  min-height: 100vh !important;
  width: 100vw;
  margin-left: -1rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}
#sidebar_wrapper .sidebar_heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#page_content_wrapper {
  min-width: 0;
  width: 100%;
}

.shadowAnswerBox {
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}
