.shadowAnswerBox {
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.width {
  height: 400px;
}

.react-pdf__Page__canvas {
  margin: 0 auto;
  width: 80% !important;
  height: 100% !important;
}

.fileupload {
  text-align: center;
  border: 3px dashed rgb(210, 227, 244);
  /* padding: 1.5rem; */
  position: relative;
  cursor: pointer;
  /* height: 50px */
}
.fileupload p {
  font-size: 0.5rem;
  margin-top: 10px;
  color: #bbcada;
}
.fileupload input {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  cursor: pointer;
}
